.nav-link {
    color: white !important;
    font-size: 1.4rem !important;
    text-align: center;
    
}

.active {
    color: #18165A !important;
}

/* about me pfp */
.pfp{
    width: 10%;
    height: 10%;
    border-radius: 0%;
}
html {
    background-color: #18165A;
    font-family: 'GagalinRegular, sans-serif';
  }

.background {
    background-image: url(../images/background.png);
    overflow: hidden;
    /* background-size: cover; */
    width: 100%;

    min-height: 100vh;
}


/* Portfolio css */

.portfolio-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project{
    width: 500px;
    height: 300px;
    margin: 10px;
    /* line-height: 150px; */
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.text {
    position: relative;
    top: -165px;
    color: white;
    font-size: 0.9rem;
    visibility: hidden;
}

/* contact form css */


.contact-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.contact{
    width: 500px;
    height: 300px;
    margin: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}



/* hover effects */
.card-hover:hover .portfolio-img{
    opacity: 0.1;
}

.card-hover:hover .text-sum {
    visibility: visible;
    transition: 1s;

}
.logo-hover:hover {
    opacity: 0.2;
}
.button-hover:hover {
    opacity: 0.2;
    color: green;
}

/* resume css */

.resume{
    background-color: red;
    width: 500px;
    height: 300px;
    margin: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}


.experiences { 
    text-align:center
    /* padding-left:120px;  */
}
li {
    list-style-type: none
}



@media (min-width: 500px) {  
    .background {
        background-image: url(../images/fixed.jpeg);
        /* background-size: 100% 100%; */
        height: 100%;
        font-family: 'GagalinRegular, sans-serif';
    }
}




@media (min-width: 778px) { 

  
    .active {
        color: #18165A !important;
    }
    .card-title-size {
        font-size: 35px !important;
    }
    .card-text-size {
        font-size: 23px !important;
    }
    
    .border-radius-card {
        border-radius: 2em !important;
    
    }
    .nav {
        margin-left: 0px;
        margin-right: 0px;
    }
    .title {
        font-size: 40px !important;
        color: white;
        margin-left: 0px;
        margin-right: 0px;
    }

    .card-portfolio {
        margin: 20px;
        padding: 0px !important;
        flex: 0 1 512px;
        color: var(--secondary);

        border-radius: 2em !important;
      }
    .portfolio-img{
        border-radius: 2em !important;

    }
}

